body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
  text-align: center;
  padding:10px;
}

.json {
  font: 12px Consolas;
}

.item-icon {
  margin: auto;
  padding-right: 5%;
}

.row {
  padding-left: 2.5%;
  padding-right: 2.5%;
}