<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>WoW Feast Prices</title>

    <meta charset="UTF-8">
    <meta name="description" content="WoW Auction House Feast Prices">
    <meta name="keywords" content="WoW, Auction House, Feast, Lavish Suramar Feast Price, Hearty Feast Price, DylanNZ">
    <meta name="author" content="DylanNZ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="bsno.dylannz.com" target="_blank">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div id="app" class="row">
    <div class="col-md-12">
        <h1 class="title">Cheapest way to get feasts in Legion</h1>
    </div>
    <div id="suramarFeast" class="col-md-6">
        <h3 class="title">Lavish Suramar Feast</h3>
        <div id="suramarFeastRanks" class="">
            <h5>Recipe Ranks</h5>
            <!-- Ranks for each item involved in creating the feast -->
            <recipe-rank :data="suramar.recipeRank.feast"></recipe-rank>
            <recipe-rank :data="suramar.recipeRank.ribs"></recipe-rank>
            <recipe-rank :data="suramar.recipeRank.surfTurf"></recipe-rank>
            <recipe-rank :data="suramar.recipeRank.barracuda"></recipe-rank>
            <recipe-rank :data="suramar.recipeRank.stormray"></recipe-rank>
            <recipe-rank :data="suramar.recipeRank.salmon"></recipe-rank>
        </div>
        <div id="suramarFeastCosts" class="">
            <costs :data="suramar.costs"></costs>
        </div>
    </div>

    <div id="heartyFeast" class="col-md-6">
        <h3 class="title">Hearty Feast</h3>
        <div id="heartyFeastRanks" class="">
            <h5>Recipe Ranks</h5>
            <!-- Ranks for each item involved in creating the feast -->
            <recipe-rank :data="hearty.recipeRank.feast"></recipe-rank>
            <recipe-rank :data="hearty.recipeRank.shank"></recipe-rank>
            <recipe-rank :data="hearty.recipeRank.mossgill"></recipe-rank>
            <recipe-rank :data="hearty.recipeRank.stormray"></recipe-rank>
            <recipe-rank :data="hearty.recipeRank.fizz"></recipe-rank>
            <recipe-rank :data="hearty.recipeRank.ribs"></recipe-rank>
        </div>
        <div id="heartyFeastCosts" class="">
            <costs :data="hearty.costs"></costs>
        </div>
    </div>
    <div class="col-md-12 title">
        <p>Note: All prices are based on the average buyout for each item, you will probably be able to find a cheaper option depending on the number of auctions available</p>
    </div>
</div>


<hr class="feature-divider">
<footer>
    <p class="pull-right"><a href="/api/">Simple AH API</a></p>
    <p>Developed by Dylan Cross (DylanNZ)  ·
        <a href="https://github.com/DylanNZL/WowFood">Code</a>
    </p>
</footer>

<!-- Vue.js Templates -->

<template id="rrank-template">
    <div>
        <label>{{ data.label }}:</label>
        <select v-model="data.selected" class="form-control-inline" v-on:change="rankChanged">
            <option v-for="option in data.options" :value="option.value">
                {{ option.text }}
            </option>
        </select>
    </div>
</template>

<template id="costs-template">
    <div>
        <h5>Costs</h5>

        <p>
            <a v-on:click.prevent="data.show.buyFeast = !data.show.buyFeast" href="#">Buying the feast off the Auction House: $ {{ data.buyFeast }}</a>
        </p>
        <div  v-if="data.show.buyFeast">
            <div class="table">
                <table>
                    <thead>
                    <th>Item</th>
                    <th>Cost</th>
                    </thead>
                    <tbody>
                    <tr v-if="data.buyFeastItem !== undefined">
                        <td>{{ data.buyFeastItem.name }}</td>
                        <td>{{ data.buyFeastItem.averageBuyout }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p>
            <a v-on:click.prevent="data.show.buyFood = !data.show.buyFood" href="#">Buying food and crafting just the feast: $ {{ data.buyFood }}</a>
        </p>
        <div v-if="data.show.buyFood">
            <div class="table">
                <table>
                    <thead>
                        <th>Item</th>
                        <th>Cost</th>
                    </thead>
                    <tbody>
                        <tr v-for="item of data.buyFoodItems">
                            <td>{{ item.name }}</td>
                            <td>{{ item.averageBuyout }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p>
            <a v-on:click.prevent="data.show.buyIngredients = !data.show.buyIngredients" href="#">Buying ingredients to craft all: $ {{ data.buyIngredients }}</a>
        </p>
        <div  v-if="data.show.buyIngredients">
            <div class="table">
                <table>
                    <thead>
                        <th>Item</th>
                        <th>Average Buyout</th>
                    </thead>
                    <tbody>
                        <tr v-for="item of data.buyIngredientsItems">
                            <td>{{ item.name }}</td>
                            <td>{{ item.averageBuyout }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- determines which is the cheapest by checking each one to see if it has the lowest price -->
        <p v-if="data.buyFeast < data.buyFood && data.buyFeast < data.buyIngredients">Cheapest option: $ {{ data.buyFeast}}</p>
        <p v-if="data.buyFood < data.buyFeast && data.buyFood < data.buyIngredients">Cheapest option: $ {{ data.buyFood}}</p>
        <p v-if="data.buyIngredients < data.buyFeast && data.buyIngredients < data.buyFood">Cheapest option: $ {{ data.buyIngredients}}</p>
    </div>
</template>

<template></template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/feast.js"></script>
</body>
</html>

