<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>WoW Feast Prices</title>

    <meta charset="UTF-8">
    <meta name="description" content="WoW Auction House Feast Prices">
    <meta name="keywords" content="WoW, Auction House, Feast, Lavish Suramar Feast Price, Hearty Feast Price, DylanNZ">
    <meta name="author" content="DylanNZ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="bsno.dylannz.com" target="_blank">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div id="app" class="row">
    <div class="col-md-12">
        <h1 class="title">Cheapest way to get feasts for Legion</h1>
    </div>
    <div id="suramarFeast" class="col-md-6">
        <h3 class="title">Lavish Suramar Feast</h3>
        <div id="suramarFeastRanks" class="">
            <h5>Recipe Ranks</h5>
            <!-- Ranks for each item involved in creating the feast -->
            <recipe-rank :data="suramar.recipeRank.feast"></recipe-rank>
            <recipe-rank :data="suramar.recipeRank.ribs"></recipe-rank>
            <recipe-rank :data="suramar.recipeRank.surfTurf"></recipe-rank>
            <recipe-rank :data="suramar.recipeRank.barracuda"></recipe-rank>
            <recipe-rank :data="suramar.recipeRank.stormray"></recipe-rank>
            <recipe-rank :data="suramar.recipeRank.salmon"></recipe-rank>
        </div>
        <div id="suramarFeastCosts" class="">
            <h5>Costs</h5>

            <p>Buying the feast off the Auction House: $ {{ suramar.costs.buyFeast }}</p>

            <p>Buying food and crafting just the feast: $ {{ suramar.costs.buyFood }}</p>

            <p>Buying ingredients to craft all: $ {{ suramar.costs.buyIngredients }}</p>

            <p>Cheapest option: $</p>
        </div>
    </div>

    <div id="heartyFeast" class="col-md-6">
        <h3 class="title">Hearty Feast</h3>
        <div id="heartyFeastRanks" class="">
            <h5>Recipe Ranks</h5>
            <!-- Ranks for each item involved in creating the feast -->
            <recipe-rank :data="hearty.recipeRank.feast"></recipe-rank>
            <recipe-rank :data="hearty.recipeRank.shank"></recipe-rank>
            <recipe-rank :data="hearty.recipeRank.mossgill"></recipe-rank>
            <recipe-rank :data="hearty.recipeRank.stormray"></recipe-rank>
            <recipe-rank :data="hearty.recipeRank.fizz"></recipe-rank>
            <recipe-rank :data="hearty.recipeRank.ribs"></recipe-rank>
        </div>
        <div id="heartyFeastCosts" class="">
            <h5>Costs</h5>

            <p>Buying the feast off the Auction House: $ {{ hearty.costs.buyFeast }}</p>

            <p>Buying food and crafting just the feast: $ {{ hearty.costs.buyFood }}</p>

            <p>Buying ingredients to craft all: $ {{ hearty.costs.buyIngredients }}</p>

            <p>Cheapest option: $</p>
        </div>
    </div>

    <p>Note: all prices are based on the average buyout for each item, meaning you might be able to find a cheaper option</p>
</div>


<hr class="feature-divider">
<footer>
    <p class="pull-right"><a href="/api/">Stats API</a></p>
    <p>Developed by Dylan Cross (DylanNZ) and Jared Hall (MonoNZ) ·
        <a href="https://github.com/FCLM/BSNO">Code</a> ·
        <a href="https://fifthcolumngaming.com">FCLM</a>
    </p>
</footer>

<!-- Vue.js Templates -->

<template id="rrank-template">
    <div>
        <!--<p>{{data}}</p>-->
        <label>{{ data.label }}:</label>
        <select v-model="data.selected" class="form-control-inline" v-on:change="rankChanged">
            <option v-for="option in data.options" :value="option.value">
                {{ option.text }}
            </option>
        </select>
    </div>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/feast.js"></script>
</body>
</html>

