<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>WoW Feast Prices</title>

    <meta charset="UTF-8">
    <meta name="description" content="WoW Auction House Food Prices">
    <meta name="keywords" content="WoW, Auction House, Food, Food Price, DylanNZ">
    <meta name="author" content="DylanNZ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="bsno.dylannz.com" target="_blank">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="app" class="row">
    <div class="col-md-12">
        <h1 class="title">Cheapest way to get flasks/pots in Legion</h1>
    </div>
    <div class="col-md-6">
        <h3 class="title">Critical Stike Food</h3>
        <f-template :info="details.shank" :items="items"></f-template>
        <f-template :info="details.leybeque" :items="items"></f-template>
        <f-template :info="details.magister" :items="items"></f-template>
    </div>

    <div class="col-md-6">
        <h3 class="title">Haste Food</h3>
        <f-template :info="details.mossgill" :items="items"></f-template>
        <f-template :info="details.surfTurf" :items="items"></f-template>
        <f-template :info="details.azshari" :items="items"></f-template>
    </div>

    <div class="col-md-6">
        <h3 class="title">Versatility Food</h3>
        <f-template :info="details.fizz" :items="items"></f-template>
        <f-template :info="details.koiStormray" :items="items"></f-template>
        <f-template :info="details.fishPlate" :items="items"></f-template>
    </div>

    <div class="col-md-6">
        <h3 class="title">Mastery Food</h3>
        <f-template :info="details.pickledStormray" :items="items"></f-template>
        <f-template :info="details.barracuda" :items="items"></f-template>
        <f-template :info="details.nightborne" :items="items"></f-template>
    </div>

</div>

<hr class="feature-divider">
<footer>
    <p class="pull-right"><a href="/api/">Simple AH API</a></p>
    <p>Developed by Dylan Cross (DylanNZ)  ·
        <a href="https://github.com/DylanNZL/WowFood">Code</a>
    </p>
</footer>

<!-- Templates -->
<template id="food-template">
    <div class="col-md-12">
        <!-- Recipe Rank -->
        <div>
            <label>{{ info.rank.label }}:</label>
            <select v-model="info.rank.selected" class="form-control-inline" v-on:change="rankChanged">
                <option v-for="option in info.rank.options" :value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>

        <!-- Costs -->
        <div>
            <h5 v-if="items.length === 0"><a v-on:click.prevent="info.show = !info.show" href="#">{{info.rank.label}}: AH: $, Crafted: ${{ cost(info, items) }} </a></h5>
            <h5 v-if="items.length !== 0"><a v-on:click.prevent="info.show = !info.show" href="#">{{info.rank.label}}: AH: ${{items[info.id].buyoutData.average}}, Crafted: ${{ cost(info, items) }} </a></h5>
            <div v-if="info.show">
                <div class="table">
                    <table>
                        <thead>
                        <th>Item</th>
                        <th>Cost</th>
                        <th>Min Buyout</th>
                        <th>Max Buyout</th>
                        <th>Quantity Avail</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ items[info.id].name }}</td>
                            <td>{{ items[info.id].buyoutData.average }}</td>
                            <td>{{ items[info.id].buyoutData.min }}</td>
                            <td>{{ items[info.id].buyoutData.max }}</td>
                            <td>{{ items[info.id].buyoutData.count }}</td>
                        </tr>
                        <tr v-for="item of info.recipe">
                            <td>{{ items[item.id].name }}</td>
                            <td>{{ items[item.id].buyoutData.average }}</td>
                            <td>{{ items[item.id].buyoutData.min }}</td>
                            <td>{{ items[item.id].buyoutData.max }}</td>
                            <td>{{ items[item.id].buyoutData.count }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <p>Crafted using the min prices: ${{ minCost(info, items)}}</p>
                    <br>
                    <p>If an item doesn't show a cost, there are none being sold on the Auction House</p>
                </div>
            </div>
    </div>
</template>


<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/food.js"></script>
</body>
</html>