<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Raid Consumable Prices</title>

    <meta charset="UTF-8">
    <meta name="description" content="WoW Auction House Food Prices">
    <meta name="keywords" content="WoW, Auction House, Raid Cosumables, Raid Consumable Prices, DylanNZ">
    <meta name="author" content="DylanNZ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Uncomment this for the live version of the site -->
    <!--<base href="consumables.dylannz.com" target="_blank">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="app" >
    <!-- TODO: When clicked on show the corresponding page without reloading -->
    <nav class="site-header  py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" v-on:click.stop="viewHome" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
            </a>
            <a class="py-2 d-none d-md-inline-block" v-on:click.stop="viewHome" href="#">Home</a>
            <a class="py-2 d-none d-md-inline-block" v-on:click.stop="viewFeast" href="#">Feast</a>
            <a class="py-2 d-none d-md-inline-block" v-on:click.stop="viewFlask" href="#">Flasks</a>
            <a class="py-2 d-none d-md-inline-block" v-on:click.stop="viewPotion" href="#">Potions</a>
            <a class="py-2 d-none d-md-inline-block" v-on:click.stop="viewFood" href="#">Food</a>
        </div>
    </nav>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Calculate the cheapest way to get your raid consumables</h1>
            <p class="lead text-muted">Database last updated: {{ dbUpdated }}</p>

        </div>
    </section>

    <div class="row">

        <div class="col-md-12 row" v-if="category === 'Home'">
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <!-- Image found here: https://wow.curseforge.com/projects/feasthog -->
                    <a v-on:click.stop="viewFeast"><img class="card-img-top" src="/images/feast.png" alt="Picture of a Lavish Suramar Feast" height="500"></a>
                    <div class="card-body">
                        <p class="card-text">Shows the costs of Feasts</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <!-- Image found here: http://www.wowhead.com/item=127851/spirit-cauldron#screenshots:id=584429 -->
                    <a v-on:click.stop="viewFlask"><img class="card-img-top" src="/images/cauldron.jpg" alt="Picture of a Spirit Cauldron" height="500"></a>
                    <div class="card-body">
                        <p class="card-text">Shows the costs of Flasks</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <!-- Image found here: http://www.wowhead.com/item=127851/spirit-cauldron#screenshots:id=584429 -->
                    <a v-on:click.stop="viewPotion"><img class="card-img-top" src="/images/cauldron.jpg" alt="Picture of a Spirit Cauldron" height="500"></a>
                    <div class="card-body">
                        <p class="card-text">Shows the costs of certain potions</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <!-- Image found here: http://www.wowhead.com/npc=101846/nomi#screenshots:id=564962 -->
                    <a v-on:click.stop="viewFood"><img class="card-img-top" src="/images/nomi.jpg" alt="Picture of Nomi"height="500"></a>
                    <div class="card-body">
                        <p class="card-text">Shows the costs of certain foods</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 row" v-if="category === 'Feast'">
            <f-template :info="items.craftables[133578]" :items="items" :view="viewHearty"></f-template>
            <f-template :info="items.craftables[133579]" :items="items" :view="viewLavish"></f-template>
        </div>

        <div class="col-md-12 row" v-if="category === 'Flask'">
            <c-template :info="items.craftables[127847]" :items="items"></c-template>
            <c-template :info="items.craftables[127848]" :items="items"></c-template>
            <c-template :info="items.craftables[127849]" :items="items"></c-template>
            <c-template :info="items.craftables[127850]" :items="items"></c-template>
            <c-template :info="items.craftables[127851]" :items="items"></c-template>

        </div>

        <div class="col-md-12 row" v-if="category === 'Potion'">
            <c-template :info="items.craftables[127835]" :items="items"></c-template>
            <c-template :info="items.craftables[127846]" :items="items"></c-template>
        </div>

        <div class="col-md-12 row" v-if="category === 'Food'">
            <c-template :info="items.craftables[133557]" :items="items"></c-template>
            <c-template :info="items.craftables[133565]" :items="items"></c-template>
            <c-template :info="items.craftables[133570]" :items="items"></c-template>

            <c-template :info="items.craftables[133561]" :items="items"></c-template>
            <c-template :info="items.craftables[133566]" :items="items"></c-template>
            <c-template :info="items.craftables[133571]" :items="items"></c-template>

            <c-template :info="items.craftables[133562]" :items="items"></c-template>
            <c-template :info="items.craftables[133567]" :items="items"></c-template>
            <c-template :info="items.craftables[133572]" :items="items"></c-template>

            <c-template :info="items.craftables[133563]" :items="items"></c-template>
            <c-template :info="items.craftables[133568]" :items="items"></c-template>
            <c-template :info="items.craftables[133573]" :items="items"></c-template>
        </div>
    </div>
</div>

<!-- Vue.js Templates -->
<template id="card-template">
    <div class="col-md-6">
        <div class="card box-shadow mb-4">
            <div class="card-top">
                <h3 class="card-title text-center" style="margin-top: 5%">
                    <img class="item-icon" :src="info.image">
                    {{ info.name }}
                </h3>
                <h5 class="card-subtitle text-center">Average AH Price: ${{ info.buyoutData.average }}  |  Average Crafted Price: ${{ cost(info, items) }} </h5>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>Item</th>
                            <th>Average Buyout</th>
                            <th>Price Range</th>
                            <th>Quantity Avail</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ info.name }}</td>
                                <td> ${{ info.buyoutData.average }}</td>
                                <td> ${{ info.buyoutData.min }} - ${{ info.buyoutData.max }}</td>
                                <td> {{ info.buyoutData.count }}</td>
                            </tr>
                            <tr
                                    is="tr-template"
                                    v-for="item of info.recipe"
                                    v-bind:key="item.id"
                                    v-bind:item="item"
                                    v-bind:items="items"></tr>
                        </tbody>
                    </table>
                    <br>
                    <div style="float:right;">
                        <label> {{ info.name }} Recipe Rank :</label>
                        <select v-model="info.rank.selected" class="form-control-inline" v-on:change="rankChanged">
                            <option v-for="option in info.rank.options" :value="option.value">
                            {{ option.text }}
                            </option>
                        </select>
                    </div>
                    <div style="float:left;">
                        <p class="text-muted" style="text-align:right;">Crafted using the min prices: $ {{ minCost(info, items) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="feast-template">
    <div class="col-md-6">
        <div class="card box-shadow mb-4">
            <div class="card-top">
                <h3 class="card-title text-center" style="margin-top: 5%">
                    <img class="item-icon" :src="info.image">
                    {{ info.name }}
                </h3>
                <h5 class="card-subtitle text-center">Average AH Price: ${{ info.buyoutData.average }}<br>
                    Crafted From Bought Materials: ${{ costFood(info, items) }} | Crafted From Scratch ${{ costScratch(info, items) }}</h5>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <th>Item</th>
                        <th>Average Buyout</th>
                        <th>Price Range</th>
                        <th>Quantity Avail</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td> {{ info.name }}</td>
                            <td> ${{ info.buyoutData.average }}</td>
                            <td> ${{ info.buyoutData.min }} - ${{ info.buyoutData.max }}</td>
                            <td> {{ info.buyoutData.count }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- Food -->
                        <tr
                            is="tr-template"
                            v-for="item of info.recipe"
                            v-bind:key="item.id"
                            v-bind:item="item"
                            v-bind:items="items">
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <div style="float:left;">
                    <p class="text-muted" style="text-align:right;">Crafted using the min prices: $ {{ minCostScratch(info, items) }}</p>
                </div>
                <div style="float: right">
                    <button type="button" class="btn btn-secondary" style="text-align:right;" v-on:click.stop="showRank(info)">Recipe Ranks</button>
                </div>
                <br>
                <div v-if="view">
                    <div>
                        <div v-if="info.id === 133578">
                            <br>
                            <recipe-rank :data="info"></recipe-rank>
                            <recipe-rank :data="items.craftables[133557]"></recipe-rank>
                            <recipe-rank :data="items.craftables[133561]"></recipe-rank>
                            <recipe-rank :data="items.craftables[133563]"></recipe-rank>
                            <recipe-rank :data="items.craftables[133562]"></recipe-rank>
                            <recipe-rank :data="items.craftables[133564]"></recipe-rank>

                        </div>

                        <div v-if="info.id === 133579">
                            <br>
                            <recipe-rank :data="info"></recipe-rank>
                            <recipe-rank :data="items.craftables[133565]"></recipe-rank>
                            <recipe-rank :data="items.craftables[133566]"></recipe-rank>
                            <recipe-rank :data="items.craftables[133568]"></recipe-rank>
                            <recipe-rank :data="items.craftables[133567]"></recipe-rank>
                            <recipe-rank :data="items.craftables[133569]"></recipe-rank>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="tableRow-template">
    <tr>
        <td> {{ name(item, items) }}</td>
        <td> ${{ average(item, items) }}</td>
        <td> {{ priceRange(item, items) }}</td>
        <td> {{ count(item, items) }}</td>
    </tr>
</template>

<template id="rrank-template">
    <div>
        <label> {{ data.name }} Recipe Rank :</label>
        <select v-model="data.rank.selected" class="form-control-inline" v-on:change="rankChanged">
            <option v-for="option in data.rank.options" :value="option.value">
                {{ option.text }}
            </option>
        </select>
    </div>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/test.js"></script>
</body>
</html>